{% extends 'shop/basic.html' %}

{% block title%}{{user.first_name}} Profile{% endblock %}

{% block body %}

<div class="section">
    <div class="container">
        <div class="row">
            {% include 'user/user_panel.html' %}

            <div class="col-md-9">
                <div class="section-title">
                    <h3 class="text-center"> User Information</h3>
                </div>
                <table class="shopping-cart-table table">
                    <tr>
                        <td>
                            <a href="/user/update" class="btn btn-outline-primary">Update Profile</a></td>
                        <td>

                            <a href="/user/password" class="btn btn-outline-warning">Change Password</a>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">Name Surname</th>
                        <td class="text-left">{{user.first_name}} {{user.last_name}} </td>
                    </tr>
                    <tr>
                        <th class="text-left">Email</th>
                        <td class="text-left">{{ user.email}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Phone</th>
                        <td class="text-left">{{ user.username}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Address</th>
                        <td class="text-left">{{ profile.address}}</td>
                    </tr>

                    <tr>
                        <th class="text-left">State</th>
                        <td class="text-left">{{ profile.state}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">City</th>
                        <td class="text-left">{{ profile.city}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}