{% extends 'shop/basic.html' %}

{% block title%}{{profile.user_name}} Change Password{% endblock %}

{% block body %}
<style rel="stylesheet">
  .main_content{
    margin-left: 0px;
}
.wrapper{
  display:none;
}
</style>

<div class="section">
    <div class="container">


            <div class="col-md-9">
                <div class="section-title">
                    <h3 class="text-center"> Change Password</h3>
                </div>
            </div>

            {% if messages %}
            {% for message in messages %}
            <div style="color:#d43fa; font-size:medium;">
                {{message|safe}}
            </div>
            {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{field.label_tag}}<br>
                    {{field}}
                    {% if field.help_text %}
                    <small style="">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                <p style="">{{error}}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <button class="btn btn-outline-success" type="submit">Save Changes</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}