{% extends 'shop/basic.html' %}
{% block title%} Vegicle {% endblock %}
{% block body %}
{% load static %}
<div class="container">
<div class="col-lg-12">
<div class="owl-carousel owl-theme" id="carousel1">
    {% for i in slider %}
    <div class="item"><img src='/media/{{i.slider_image}}' class="card-img-top" alt="..."></div>
     {% endfor %}
</div><!--owl carousel ends for flex-->
</div>
</div>
<!--owl carousel for products-->
 {% for product, range, n in allProds %}
<h5 class="my-4"> {{product.0.category}}</h5>


 <div class="swiper-container">
    <div class="swiper-wrapper">

{% for product in product %}
<div class="swiper-slide">

  <div class="card">
      <img  src='/media/{{product.image}}' class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title" id="namepr{{product.id}}">{{product.product_name}}</h5>


<span style="display: inherit;">
  <select class="form-control quantity" name="quantity" id="quantity" data-product="{{ product.id }}">
       {% for item in product.varients.all %}
       <option id="options" value="{{ item.price }}">{{ item.quantity_number}} {{ item.quantity_measure}}</option>
      {% endfor %}
  </select>
<h6 style="float:right;" class="product_price">Rs. {{ product.varients.first.price }}</h6>
</span>
<br>
<hr>


<span><a href="products/{{product.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">View</button></a>

<button data-product="pr{{product.id}}" data-action="add" class="btn btn-outline-success update-cart">Add</button></span>

  </div>
</div>
</div>
{% endfor %}

</div>


<!--end swiper-container-->
 </div>
{% endfor %}

{% endblock %}<!--block end for main content-->

{% block js %}

<script>
    $('.update-cart').click(function(){
        let dataProduct = $(this).attr('data-product').substring(2);
        let selected_price = $(".quantity[data-product='"+dataProduct+"']").val();
        let product_id = dataProduct;

        $.ajax({
            url: '../add-to-cart/',
            type: 'POST',
            data: {
                product_id: product_id,
                price: selected_price,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: () => {
                alert('The product was added to the cart!'),
                location.reload();
            },
            error: message_from_server => console.error('An error occurred: ' + message_from_server)
        });
    });
</script>

{% endblock %}
